-e .
click==8.0.3
hydra-core==1.1.1
matplotlib==3.5.1
numpy==1.21.2
omegaconf==2.1.1
pytest==6.2.5
python-dotenv==0.19.2
pytorch_lightning==1.5.8
setuptools==58.0.4
torch==1.10.1
torchvision==0.11.2
wandb
dvc
dvc[gs]
